@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
	--c1: #32004F;
	--c2: #7323A8;
	--c3: #E50085;
	--c4: #FF5E5B;
	--c5: #FFAC93;
}

body {
	background-color: var(--c1);
<<<<<<< HEAD
<<<<<<< HEAD

}
=======
}

>>>>>>> game_page
=======
}

>>>>>>> 486f0c41a5d3eb8b28ce4adff1037b428f361476
p {
	font-family: "VT323", monospace;
  	font-weight: 400;
  	font-style: normal;
}

.header {
	background-color: var(--c2);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
	padding: 0.5rem 1rem;	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}


.h1 {
  	font-family: "Doto", sans-serif;
  	font-weight: 500;
<<<<<<< HEAD
<<<<<<< HEAD
	font-size: 1.8rem;
=======
	font-size: 2.8rem;
>>>>>>> 486f0c41a5d3eb8b28ce4adff1037b428f361476
  	text-align: center;
  	flex: 1; 
	color: var(--c5);
	transition: color 0.4s ease;
}
.h1:hover{
	color: var(--c3);
}

.logo {
	border-radius: 5px;
	display: flex;
  	align-items: center;
	transition: background-color 0.4s ease;
}
.logo:hover{
	background-color: var(--c3);
}
.logo img {
  	width: 65px;
  	height: auto;
}

.home-layout{
	display: flex;
}

.home-sidebar {
	position: fixed;
	top: 8rem;
	left: 0px;
	width: 240px;
	height: calc(100vh - 60px);
	background-color: var(--c3);
	padding: 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	overflow-y: auto;
}

<<<<<<< HEAD
=======
	font-size: 2.8rem;
  	text-align: center;
  	flex: 1; 
	color: var(--c5);
	transition: color 0.4s ease;
}
.h1:hover{
	color: var(--c3);
}

.logo {
	border-radius: 5px;
	display: flex;
  	align-items: center;
	transition: background-color 0.4s ease;
}
.logo:hover{
	background-color: var(--c3);
}
.logo img {
  	width: 65px;
  	height: auto;
}

.home-layout{
	display: flex;
}

.home-sidebar {
	position: fixed;
	top: 8rem;
	left: 0px;
	width: 240px;
	height: calc(100vh - 60px);
	background-color: var(--c3);
	padding: 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	overflow-y: auto;
}

=======
>>>>>>> 486f0c41a5d3eb8b28ce4adff1037b428f361476
.home-sidebar-title {
	font-family: "Doto", sans-serif;
	font-size: 2rem;
	text-align: center;
	margin: 0.5rem;
}

.home-sidebar-items {
	padding: 1rem 1rem;
	border-radius: 13px;
	cursor: pointer;
	font-family: "VT323", monospace;
	background-color: var(--c2);
	transition: background-color 0.25s ease;
}

.home-sidebar-items:hover{
	background-color: var(--c4);

}

.home-content{
	margin-top: 8rem;
	margin-left: 240px;
	width: calc(100vw - 240px);
	min-height: calc(100vh - 8rem);

	display: flex;
	flex-direction: column;
	padding: 1rem;
	align-items: center;
}
.button-connexion {
	text-decoration: none;
  	padding: 0.5rem 1rem;
 	background-color: var(--c1);
  	color: var(--c5);
 	border: none;
  	border-radius: 8px;
 	cursor: pointer;
  	font-family: "Doto", sans-serif;
 	font-weight: 500;
 	transition: background-color 0.4s ease;
}

.button-connexion:hover {
  background-color: var(--c3);
}

.home-search-div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--c2);
	border-radius: 50px;
	padding: 0.7rem;
	margin: 2rem auto;
	width: 100%;
	max-width: 500px;
	gap: 0rem;
}

.search-bar {
	flex: 0.95;
	padding: 0.5rem 0.8rem;
	border: 1px solid var(--c1);
	border-radius: 20px;
	outline: none;
	font-size: 1rem;
	font-family: "Doto", sans-serif;
  	font-weight: 1000;
	background-color: var(--c3);
}
.search-bar:focus {
  border-color: var(--c3);
  box-shadow: 0 0 5px var(--c3);
  background-color: var(--c4);
}


.search-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--c3);
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.search-button:hover {
  background-color: var(--c4);
}

.home-feed {
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	padding: 2rem ;

}

.home-card {
	width: 100%;
	max-width: 500px;
	background-color: var(--c4);
	border-radius: 20px;

	box-shadow: 0 0px 35px var(--c3);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	
}
.home-footer {
	background-color: var(--c2);
	margin-top: auto;
	padding-top: 5rem;
	text-align: center;
	border-radius: 3px;
	bottom: 0px;
	width: 100%;
	margin-bottom: 0px;
	margin-top: 5rem;
}
.home-card-img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 12px;
	background-color: var(--c2);
	display: flex;
	
}

.home-card-center {
	background-color: aqua;
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;

}

.home-card-title {
	font-family: "Doto", sans-serif;
	font-size: 1.2rem;
	margin: 0;

}

.home-card-description {
	font-family: "VT323", monospace;
	font-size: 1rem;
	margin: 0;
}

.home-card-scoreboard {
	display: flex;
	align-items: center;
}

.home-card-scoreboard-score {
	display: flex;
	background-color: var(--c2);
	border-radius: 14px;
	padding: 0.6rem, 0.8rem;
	text-align: center;
	min-width: 70px;

}
.home-card-score-value {
	display: block;
	font-family: "Doto", sans-serif;
	font-size: 1.3rem;
}
.home-card-score-label {
	font-size: 0.8rem;
}
.home-card-left {

}
<<<<<<< HEAD

div.page_category {
	margin-top: 150px;
	color: var(--c5);
	font-family: "VT323", monospace;
	text-align: center;
}

div.game_card{
	background-color: var(--c2);
	color: var(--c4);
	margin-right: 0px;
	border-radius: 10px;
	padding: 10px;
	width: 75%;
	margin-left: 20%;
	font-family: "VT323", monospace;
	font-size: 20px;
	display: flex;
    flex-direction:column;
}

div.card_slot{
	margin: 5px;
	color: var(--c1);
}
>>>>>>> game_page
=======
>>>>>>> 486f0c41a5d3eb8b28ce4adff1037b428f361476
