@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
	--c1: #32004F;
	--c2: #7323A8;
	--c3: #E50085;
	--c4: #FF5E5B;
	--c5: #FFAC93;
}

body {
	background-color: var(--c1);

}
p {
	font-family: "VT323", monospace;
  	font-weight: 400;
  	font-style: normal;
}

.header {
	background-color: var(--c2);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
	padding: 0.5rem 1rem;	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}


.h1 {
  	font-family: "Doto", sans-serif;
  	font-weight: 500;
	font-size: 1.8rem;
  	text-align: center;
  	flex: 1;  
}

.logo {
	 display: flex;
  	align-items: center;
}
.logo img {
  	width: 75px;
  	height: auto;
}

.button-connexion {
	text-decoration: none;
  	padding: 0.5rem 1rem;
 	background-color: var(--c1);
  	color: var(--c5);
 	border: none;
  	border-radius: 8px;
 	cursor: pointer;
  	font-family: "Doto", sans-serif;
 	font-weight: 500;
 	transition: background-color 0.4s ease;
}

.button-connexion:hover {
  background-color: var(--c3);
}

div.page_category {
	margin-top: 100px;
	color: var(--c5);
	font-family: "VT323", monospace;
	text-align: center;
}

div.game_card{
	background-color: var(--c2);
	color: var(--c4);
	margin-right: 0px;
	border-radius: 10px;
	padding: 10px;
	width: 75%;
	margin-left: 20%;
	font-family: "VT323", monospace;
	font-size: 20px;
	display: flex;
    flex-direction:column;
}

div.card_slot{
	margin: 5px;
	color: var(--c1);
}

.home-layout{
	display: flex;
}

.home-sidebar {
	position: fixed;
	top: 8rem;
	left: 0px;
	width: 240px;
	height: calc(100vh - 60px);
	background-color: var(--c3);
	padding: 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	overflow-y: auto;
}

.home-sidebar-title {
	font-family: "Doto", sans-serif;
	font-size: 2rem;
	text-align: center;
	margin: 0.5rem;
}

.home-sidebar-items {
	padding: 1rem 1rem;
	border-radius: 13px;
	cursor: pointer;
	font-family: "VT323", monospace;
	background-color: var(--c2);
	transition: background-color 0.25s ease;
}

.home-sidebar-items:hover{
	background-color: var(--c4);

}