:root {
	--c1: #32004F;
	--c2: #7323A8;
	--c3: #E50085;
	--c4: #FF5E5B;
	--c5: #FFAC93;
}

body {
	background-color: var(--c1);
}

header {
	background-color: var(--c3);
	position: fixed;
	top: 10px;
	left: 150px;
	right: 150px;
	z-index: 1000;
	padding: 0.5rem 1rem;	
}



