/* ADMIN PAGE ================================================ */
.admin_affichage {
align-items: center;
display: flex;
flex-direction: column;
margin-top: 100px;
}

.page_title {
	width:100%;
}

.page_title h1{
	color: var(--c3);
	font-family: "VT323", monospace;
	text-align: center;
	margin-top: 100px;
}

.admin{
	margin-top: 40px;
	background-color: var(--c2);
	color: var(--c4);
	border-radius: 10px;
	padding: 15px;
	width: 75%;
	font-family: "VT323", monospace;
	font-size: 20px;
	display: flex;
    flex-direction:column;
	overflow-y: auto;
}


.adminjeu{
	margin-top: 40px;
	color: var(--c4);
	border-radius: 10px;
	padding: 15px;
	width: 75%;
	font-family: "VT323", monospace;
	font-size: 20px;
	display: flex;
    flex-direction:column;
	overflow-y: auto;
	align-items: center;
	background: linear-gradient(200deg, var(--c2), var(--c3), var(--c2));
	background-size: 200% 200%;
	background-position: 0% 50%;
	transition: background-position 1s, transform 1s;
}
.adminjeu:hover {
  background-position: 100% 50%;
  transform: scale(1.1);
}


.admin_cell {
	margin: 5px;
	background-color: var(--c1);
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 1rem;
}

.admin_cell div {
	margin: 1rem
}

.delBtn{
	text-decoration: none;
  	padding: 0.5rem;
 	background-color: var(--c4);
  	color: var(--c1);
  	border-radius: 8px;
 	cursor: pointer;
  	font-family: "Doto", sans-serif;
 	font-weight: 500;
	font-size: 1rem;
	max-width: 500px;
 	transition: background-color 0.4s ease;
	border: solid 2px var(--c3);	
	font-size: 1.5rem;
	max-width: 500px;
 	transition: background-color 0.4s ease;
	border: solid 2px var(--c3);	
}

.editBtn{
	text-decoration: none;
  	padding: 0.5rem;
 	background-color: var(--c1);
  	color: var(--c4);
  	border-radius: 8px;
 	cursor: pointer;
  	font-family: "Doto", sans-serif;
 	font-weight: 500;
	font-size: 1rem;
	max-width: 500px;
 	transition: background-color 0.4s ease;
	border: solid 2px var(--c3);	
	font-size: 1.5rem;
	max-width: 500px;
 	transition: background-color 0.4s ease;
	border: solid 2px var(--c3);	
}