/* GAME PAGE AND PROFILE PAGE ================================================ */

div.page_category {
	margin-top: 150px;
	color: var(--c5);
	font-family: "VT323", monospace;
	text-align: center;
}

div.game_card{
	background-color: var(--c2);
	color: var(--c4);
	margin-right: 0px;
	border-radius: 10px;
	padding: 10px;
	width: 75%;
	margin-left: 20%;
	font-family: "VT323", monospace;
	font-size: 20px;
	display: flex;
    flex-direction:column;
	box-shadow: 0 0px 35px var(--c3);
}

div.card_slot{
	margin: 5px;
	color: var(--c1);
}