/* INDEX PAGE ============================================================== */

.index-title {
  	font-family: "Doto", sans-serif;
  	font-weight: 500;
	font-size: 5rem;
  	text-align: center;
	color: var(--c4);
	margin-top: 13rem;
}
.index-subtitle h2 {
	font-family: "VT323", monospace;
  	font-weight: 500;
	font-size: 3rem;
  	text-align: center;
	color: var(--c4);

}

.index-subtitle h3 {
	font-family: "VT323", monospace;
	font-size: 2rem;
  	text-align: center;
	color: var(--c3);
}

.index-connexion-button-div{
  	padding: 1rem; 
	gap: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.index-signin-button {
	text-decoration: none;
  	padding: 0.5rem 1rem; 
  	color: var(--c1);
	background-color: var(--c4);
	box-shadow: 0 0px 50px var(--c3);
  	border-radius: 8px;
 	cursor: pointer;
  	font-family: "Doto", sans-serif;
 	font-weight: 600;
	font-size: 1.8rem;
 	transition: background-color 0.4s ease;

}
.index-connexion-button{
	text-decoration: none;
  	padding: 0.5rem 1rem; 
  	color: var(--c4);
	border: solid 1px var(--c3);
	box-shadow: 0 0px 50px var(--c3);
  	border-radius: 8px;
 	cursor: pointer;
  	font-family: "Doto", sans-serif;
 	font-weight: 600;
	font-size: 1.8rem;
 	transition: background-color 0.4s ease;
}

.index-connexion-button:hover {
	background-color: var(--c2);
}
.index-signin-button:hover {
	background-color: var(--c5);
}

.index-video {
	padding-top: 6rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	margin-bottom: 13rem;
}
.index-video-text {
	border-left: solid 3px var(--c3);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.index-video-text h3 {
	max-width: 40rem;
	font-family: "Doto", sans-serif;
  	font-weight: 500;
	font-size: 2rem;
  	text-align: center;
	color: var(--c3);
}
.index-video-text p {
	text-align: center;
	max-width: 30rem;
	color: var(--c4);
	font-size: 1.8rem;
}

#index-goty {
	color: var(--c2);
}
.index-logo {
	margin: 7rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	padding: 5rem;
	border: solid 2px var(--c3);
	border-radius: 2rem;
	background-color: var(--c2);

	transition: box-shadow 1.6s ease;
}
.index-logo:hover {
	box-shadow: 0px 0px 50px var(--c4) ;
}


.index-logo img {
	padding: 1rem;
	transition: transform 1s ease;
}

.index-logo img:hover {
	transform: translateY(-10px);
}
.index-logo-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.index-logo-text h3 {
	max-width: 40rem;
	font-family: "Doto", sans-serif;
  	font-weight: 500;
	font-size: 2rem;
  	text-align: center;
	color: var(--c3);
}
.index-logo-text p {
	text-align: center;
	max-width: 32rem;
	color: var(--c4);
	font-size: 1.8rem;
}
